@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom component classes */

.link {
  @apply text-blue-500 no-underline transition-colors ease-in-out duration-200 hover:text-blue-700;
}

.link-action {
  @apply link font-medium;
}

.btn {
  @apply rounded-sm px-6 py-2 shadow font-medium outline-none cursor-pointer transition-colors ease-in-out duration-200;
}

.btn-lg {
  @apply text-lg px-8 py-3;
}

.btn-sm {
  @apply text-sm px-4 py-1;
}

.btn-default {
  @apply border hover:bg-gray-200;
}

.btn-blue {
  @apply bg-blue-500 text-white hover:bg-blue-600;
}

.btn-gray {
  @apply bg-white border text-gray-600 shadow-sm hover:bg-gray-100 hover:text-gray-800;
}

.btn:focus {
  @apply outline-none;
}

.input {
  @apply inline-block border bg-white shadow-inner rounded-sm px-4 py-2 focus:outline-none focus:border-blue-500;
}

.select {
  @apply inline-block border-2 border-transparent bg-gray-200 rounded py-3 pl-4 pr-2 focus:outline-none focus:border-blue-500;
}

.table thead {
  @apply text-sm text-gray-500 font-medium;
}

.table td,
.table th {
  @apply py-1;
}

ul.bulleted {
  @apply list-disc;
}

ul.bulleted li {
  @apply ml-4;
}

th {
  font-weight: inherit;
}

.panel-container {
  @apply -mx-2;
}

.panel {
  @apply px-2;
}

.panel-title {
  @apply font-medium text-gray-700 mb-2 sm:pl-4;
}

.panel-body {
  @apply shadow -mx-4 bg-white text-gray-800 sm:rounded sm:mx-0;
}

.info {
  @apply text-gray-800 px-6 py-4 bg-white shadow border-l-8;
}

.info-icon {
  @apply mr-6 text-2xl -my-1;
}
