<fieldset class="mb-8">
  <label class="block uppercase tracking-wide text-xs font-bold mb-2" for="grid-first-name">
    <%= @label %>
  </label>

  <div class="inline-block relative">
    <%= select @form, @field, @options, class: "inline-block w-64 bg-white border border-gray-300 focus:border-blue-500 px-3 py-3 mr-4 rounded-sm focus:outline-none" %>

    <%= error_tag(@form, @field) %>
  </div>
</fieldset>
