service: lumber

image: schrockwell/lumber

servers:
  web:
    - kamal.schrockwell.com

proxy:
  ssl: true
  hosts:
    #- logs.wwsac.com
    - wwsac.schrockwell.com
  app_port: 4000

env:
  clear:
    POOL_SIZE: 2
    PORT: 4000
    PHX_HOST: wwsac.schrockwell.com
  secret:
    - SSE_MASTER_KEY

aliases:
  console: app exec --interactive --reuse "/app/bin/lumber remote"
  shell: app exec --interactive --reuse "/bin/bash"
  logs: app logs -f

registry:
  server: localhost:5555

builder:
  arch: amd64
