<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Log Submission", suffix: " · WWSAC" %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body class="bg-gray-200">
    <div class="bg-white border-b border-gray-300">
      <div class="mx-3 sm:mx-6 md:mx-12 flex justify-between items-center text-gray-600">
        <a class="text-lg font-medium text-gray-800" href="<%= Routes.page_path(@conn, :index) %>">WWSAC Log Database</a>

        <div class="flex">
          <a href="<%= Routes.page_path(@conn, :index) %>" class="block hover:text-gray-700 p-4">Submit a Log</a>
          <a href="<%= Routes.wwsac_contest_path(@conn, :index) %>" class="block hover:text-gray-700 p-4">Results</a>
          <a href="<%= Routes.wwsac_leaderboard_path(@conn, :index) %>" class="block hover:text-gray-700 p-4">Leaderboard</a>
        </div>
      </div>
    </div>

    <%= if LumberWeb.Authentication.role(@conn) == :admin do %>
      <div class="bg-white border-b text-sm">
        <div class="mx-3 sm:mx-6 md:mx-12 flex justify-between items-center text-gray-600">
          <div class="flex -ml-4 items-center">
            <span class="font-semibold mx-4 text-gray-800">Admin</span>
            <a href="<%= Routes.admin_wwsac_contest_path(@conn, :index) %>" class="block hover:text-gray-700 px-4 py-2">Submissions</a>
          </div>
          <div>
            <a href="<%= Routes.login_path(@conn, :delete) %>" class="block hover:text-gray-700 px-4 py-2">Log Out</a>
          </div>
        </div>
      </div>
    <% end %>

    <div class="mx-3 sm:mx-6 md:mx-12 mt-8">
      <%= @inner_content %>
    </div>

    <div class="mx-3 sm:mx-6 md:mx-12 mb-8 text-sm text-gray-500 italic border-t border-gray-300 pt-8">
      <a href="https://wwsac.com/" class="hover:text-gray-600">Learn More</a>  – 
      <a href="https://wwsac.com/rules.html" class="hover:text-gray-600">Contest Rules</a>  – 
      <a href="https://wwsac.com/contact.html" class="hover:text-gray-600">Contact Support</a>
    </div>
  </body>
</html>
