<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Log Submission", suffix: " · WWSAC" %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body>
    <div class="bg-gray-800">
      <div class="container mx-auto flex justify-between items-center text-gray-500">
        <a class="text-lg font-semibold text-gray-300" href="<%= Routes.page_path(@conn, :index) %>">Worldwide Sideband Activity Contest</a>

        <div class="flex">
          <a href="<%= Routes.page_path(@conn, :index) %>" class="block hover:text-white p-4">Submit a Log</a>
          <a href="<%= Routes.wwsac_contest_path(@conn, :index) %>" class="block hover:text-white p-4">Results</a>
          <a href="<%= Routes.wwsac_leaderboard_path(@conn, :index) %>" class="block hover:text-white p-4">Leaderboard</a>
        </div>
      </div>
    </div>

    <div class="container mx-auto">
      <%= @inner_content %>
    </div>
  </body>
</html>
